page-pagos {
	.g1-title-terminos{
		color:#FEFEFE;
		font-family: $t1;
		font-size: 19px;
		margin: 0px;
		line-height: 1;
		width:calc(100% - 118px);
		box-sizing: border-box;
		padding-left: 19px;
		// white-space: nowrap;
	}
	.g0-headerterminos{
		padding: 0px;
		padding-right: 10px;
		box-sizing: border-box;
	}
	.g1-group-col{
		display: flex;
		.g1-group-item{
			flex:1;
		}
	}
	.g0-btn-headclose{
		position: absolute;
		right: 8px;
		top: 7px;
		font-size: 22px;
		width:auto;
		padding: 0px;
	}
	.g1-title-imagen{
		width: 100%;
		display: flex;
		align-items: center;
		figure{
			margin: 0px;
			width: 118px;
			img{

				display: block;
				height: auto;
				max-width: 100%
			}
		}
	}
	.margen-detalle {
		margin-top: -7px;
		margin-bottom: -8px;
	}
	.companyLogo {
		margin:	2rem 0;
		display: block;
	}
	.input-wrapper{
		overflow: initial !important;
	}
	.item-inner{
		border-bottom: 0px !important;
		overflow: initial !important;
	}

	.item-block{
		overflow: initial;
		padding: 15px 0px;
		border-bottom: 1px solid #7c7c7c;
		border-radius: 0px;
		padding-bottom: 5px;
		&:last-child{
			border-bottom: 0px;
		}
	}
	.g1-list-items {
		margin-bottom: 0;
		.label {
			display: flex;
			// padding-left: 17px;
			box-sizing: border-box;
			overflow: initial;
			margin: 0px;
			i{
				width: 30px;
				color: $c2;
				margin-top: 3px;
				&:before{
					font-size: 34px;

				}
			}
		}		
	}
	.g1-text{
		width: calc(100% - 30px);
		padding-left: 17px;
		box-sizing: border-box;
		h4,p{
			margin-bottom: 8px !important;
			line-height: 1;
		}
		h4{
			margin-top: 0px !important;
			color: $c1;
			font-family: $t1;
			margin-bottom: 9px !important;
		}
		p{
			font-family: $t1;
			color: $c2;
			// &:last-of-type{
			// 	margin-bottom: 0 !important;
			// }
			span{
				font-family:$t3;
			}
		}
	}
	.g1-btn-head-close{
		position: absolute;
		right: 0px;
		top: 0px;
	}
}
// .modal-wrapper{
// 	.ion-page.show-page{
// 		border-radius: 4px
// 	}
// }
.modal-seguros.show-page{
	background-color: rgba(0,0,0,0.5) ;
	display: flex;
	align-items: center;
	justify-content: center;
	.modal-wrapper{
		width: 90vw;
		height: 70vh;
	}
	.g1-list-items{
		padding-top: 50px;
	}

	// aqui modificar lo relacionado al modal de seguros

}
