page-punto-venta {

	.g1-title-search{
		font-size: 12px;
		color: $c1;
		font-family: $t1;
		text-align: center;
	}
	#map{
		width: 100%;
		height: 375px;
	}
	.g1-search-map{
		background-color: #F7F7F7;	
		position: relative;
		&:after,&:before{
			content: "";
			position: absolute;
			width: 100%;
			top: 0px;
			height: 100%;	
			background-color: #F7F7F7;
		}
		&:after{
			left: -100%
		}
		&:before{
			right: -100%
		}
	}
	.list{
		margin:0px;
		margin: 37px 0px;
	}
	.g1-item-sale{
		border-bottom: 1px solid $c1 !important;
		border-radius: 0 !important;
		color: $c1;
		font-family: $t1;
		padding: 37px 0px;
		.info{
			font-size: 12px;
			margin: 0px;
			margin-top: 9px !important;
			&:first-child{
				margin-top: 0 !important;
			}
			span{
				display: block;
				margin-bottom: 9px;
			}
		}
		.g1-sale-title{
			font-size: 14px;
			font-family: $t3;
			color: $c7; 
		}
	}
	.g1-search{
		position: relative;
		input{
			background-color: white
		}
		input[type="text"]{
			background-color: white;
			width: 100%;
			height: 40px;
			padding: 8px;
			box-sizing: border-box;
			height: 44px;
			border: 0px;
		}
		button,input[type="submit"]{
			position: absolute;
			right: 10px;
			background-color: rgba(0,0,0,0);
			top: 50%;
			transform: translateY(-50%);
			padding: 0px;
			font-size: 20px;
			box-sizing: border-box;
			color: #D1D1D1
		}
	}
}
