.modal-terminos.show-page{
	background-color: rgba(0,0,0,0.5) ;
	display: flex;
	align-items: center;
	justify-content: center;
	.modal-wrapper{
		width: 80vw;
		height: 90vh;
	}
}
.g0-title-terminos{
	font-size: 20px;
	color:#fff;
	width: 80%;
	font-family: $t1;
}
.g0-btn-headclose{
	width: 20%;
	background: none;
	border:none;
	font-size: 30px;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.g0-headerterminos{
	background-color: $c2;
	display: flex;
	flex-flow: row wrap;
}
.g0-contentmodal{
	padding: 0 20px;
	padding-top: 30px;
	padding-bottom: 70px;
	box-sizing: border-box;
}
.g0-btnmodal-close{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	.button{
		width: 100%;
		height: 60px;
		background-color: $c3;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $t1;
		font-size: 24px !important;
		margin: 0;
		
	}
}