<!--
  Generated template for the Seguros page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="h-header-innercontrols">
  <div class="h-controls">
    <ion-navbar>
      <h3 class="h-controls-title"><span class="nico-arrow-back"></span>Mis Seguros</h3>
    </ion-navbar>
  </div>
</ion-header>

<!--
  pinkxel: se pasó itemRies.nomRiesgo dento de la iteración itemRies.polizas para que aparesca
  en cada cuadro.

-->

<ion-content  class="g1-wrap-nav">
  <div class="cnt-wrapper">


      <div class="g1-navbar">
        <ul class="g1-nav">
          <li [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
              <button class="g1-click-tab"><i class="nico-seguro-1"></i><span>Vehículos</span></button>
          </li>
          <li [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">
              <button class="g1-click-tab" >
              <i class="nico-seguro-2"></i><span>soat</span></button>
          </li>
          <li [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">
              <button class="g1-click-tab" >
            <i class="nico-seguro-3"></i><span>DOMICILIARIO</span></button>
          </li>

          <!-- solo se habilitado tres tabs - para el resto agregue contenido  -->
          <li [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">
              <button class="g1-click-tab">
            <i class="nico-seguro-4"></i><span>ASISTENCIA MÉDICA</span></button>
          </li>
          <li [class.active]="viewMode == 'tab5'" rel="tab5" (click)="viewMode ='tab5'">
              <button class="g1-click-tab">
            <i class="nico-seguro-5"></i><span>accidentes personales</span></button>
          </li>
          <li [class.active]="viewMode == 'tab6'" rel="tab6" (click)="viewMode ='tab6'">
              <button class="g1-click-tab" >
            <i class="nico-seguro-6"></i><span>vida</span></button>
          </li>
          <li [class.active]="viewMode == 'tab7'" rel="tab7" (click)="viewMode ='tab7'">
              <button class="g1-click-tab">
            <i class="nico-seguro-7"></i><span>otros</span></button>
          </li>
        </ul>
      </div>

      <!-- detalle de seguro solo activo en tab 1 - replicar cuando programen  -->
      <div class="g1-content-items" [ngSwitch]="viewMode">
        <div class="g1-content-tab active" id="tab1" *ngSwitchCase="'tab1'">
          <ul class="g1-content-list" *ngFor="let itemComp of companias">
            <li class="g1-item g1-pending" *ngFor="let itemPol of itemComp.polizas" >
              <figure>
                <img src="assets/img/logo-rimac.svg">
              </figure>
              <div class="g1-item-content">
                <h4>Placa: AHJ156</h4>
                <p>Toyota Corolla</p>
                <p>Año: 2017</p>
                <p>Póliza: 102001421</p>
                <div class="g1-notification">Sin pagos pendientes</div>
                <div class="g1-notification g1-pending-notification">Pagos Pendientes <i class="nico-pendiente"></i></div>
              </div>
              <button (click)="openDatelle(itemPol)" class="g1-zoom-item"><i class="nico-nzoom"></i></button>
            </li>
            <li class="g1-item g1-pending">
              <figure>
                <img src="assets/img/logo-rimac.svg" width="108" height="96">
              </figure>
              <div class="g1-item-content">
                <h4>Placa: AHJ156</h4>
                <p>Toyota Corolla</p>
                <p>Año: 2017</p>
                <p>Póliza: 102001421</p>
                <div class="g1-notification">Sin pagos pendientes</div>
                <!-- <div class="g1-notification g1-pending-notification">Pagos Pendientes <i class="nico-pendiente"></i></div> -->
              </div>
              <button (click)="openData(itemComp)" class="g1-zoom-item"><i class="nico-nzoom"></i></button>
            </li>            


        </ul>

      </div>
      <!-- detalle de seguro solo activo en tab 1 - replicar cuando programen  -->

      <div class="g1-content-tab active" id="tab2" *ngSwitchCase="'tab2'">
        <ul class="g1-content-list">
        <li class="g1-item">
          <figure>
            <img src="assets/img/logo-positiva.svg">
          </figure>
          <div class="g1-item-content">
            <h4>Placa: AHJ15</h4>
            <p>Toyota Corolla</p>
            <p>Año: 2017</p>
            <p>Póliza: 102001421</p>
            <div class="g1-notification">Sin pagos pendientes</div>
            <div class="g1-notification g1-pending-notification">Pagos Pendientesss <i class="nico-pendiente"></i></div>
          </div>
          <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
        </li>
        <li class="g1-item g1-pending">
          <figure>
            <img src="assets/img/logo-positiva.svg">
          </figure>
          <div class="g1-item-content">
            <h4>Placa: AHJ156</h4>
            <p>Toyota Corolla</p>
            <p>Año: 2017</p>
            <p>Póliza: 102001421</p>
            <div class="g1-notification">Sin pagos pendientes</div>
            <div class="g1-notification g1-pending-notification">Pagos Pendientes <i class="nico-pendiente"></i></div>
          </div>
          <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
        </li>
      </ul>

    </div>

    <div class="g1-content-tab active" id="tab3" *ngSwitchCase="'tab3'">
      <ul class="g1-content-list">
      <li class="g1-item">
        <figure>
          <img src="assets/img/logo-rimac.svg">
        </figure>
        <div class="g1-item-content">
          <h4>Av. San Borja Sur 155, Dpto. 602</h4>
          <p>Distrito: San Borja</p>
          <p>Póliza: 102001245</p>
          <div class="g1-notification">Sin pagos pendientes</div>
          
        </div>
        <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
      </li>
 
    </ul>

    </div>
    <div class="g1-content-tab active" id="tab4" *ngSwitchCase="'tab4'">
      <ul class="g1-content-list">
      <li class="g1-item">
        <figure>
          <img src="assets/img/logo-positiva.svg">
        </figure>
        <div class="g1-item-content">
          <h4>Pablo Cornejo + 2 dependientes</h4>
          <p>Póliza: 102001245</p>
          <div class="g1-notification">Sin pagos pendientes</div>
          
        </div>
        <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
      </li>
 
    </ul>

    </div>
    <div class="g1-content-tab active" id="tab5" *ngSwitchCase="'tab5'">
      <ul class="g1-content-list">
      <li class="g1-item">
        <figure>
          <img src="assets/img/logo-positiva.svg">
        </figure>
        <div class="g1-item-content">
          <h4>Pablo Cornejo</h4>
          <p></p>
          <p>Póliza: 102001245</p>
          <div class="g1-notification">Sin pagos pendientes</div>
          
        </div>
        <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
      </li>
 
    </ul>

    </div>
    <div class="g1-content-tab active" id="tab6" *ngSwitchCase="'tab6'">
      <ul class="g1-content-list">
      <li class="g1-item">
        <figure>
          <img src="assets/img/logo-rimac.svg">
        </figure>
        <div class="g1-item-content">
          <h4>Pablo Cornejo</h4>
          <p></p>
          <p>Póliza: 102001245</p>
          <div class="g1-notification">Sin pagos pendientes</div>
          
        </div>
        <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
      </li>
 
    </ul>

    </div>
    <div class="g1-content-tab active" id="tab7" *ngSwitchCase="'tab7'">
      <ul class="g1-content-list">
      <li class="g1-item">
        <figure>
          <img src="assets/img/logo-positiva.svg">
        </figure>
        <div class="g1-item-content">
          <h4>Pablo Cornejo</h4>
          <p></p>
          <p>Póliza: 102001245</p>
          <div class="g1-notification">Sin pagos pendientes</div>
          
        </div>
        <button class="g1-zoom-item"><i class="nico-nzoom"></i></button>
      </li>
 
    </ul>

    </div>

  </div>



  </div>
      </ion-content>
      <ion-footer class="f-footer">
        <div class="footer-inner">
          <button class="f-item">
            <img src="assets/img/icobar-1.svg" width="30" height="30" alt="">
            <label>INICIO</label>
          </button>
          <button class="f-item">
            <img src="assets/img/icobar-2.svg" width="30" height="30" alt="">
            <label>PERFIL</label>
          </button>
          <button menuToggle class="f-item">
            <img src="assets/img/icobar-3.svg" width="30" height="30" alt="">
            <label>MENÚ</label>
          </button>
<!--
  <button ion-button menuToggle end>
    <ion-icon name="menu"></ion-icon>
  </button> -->

</div>
</ion-footer>

