page-home {
	.hm-name{
		color:$c2;
		padding-top: 60px;
	}
	// .hm-welcome{
	// 	background-color: #fff
	// }
	.hm-image-perfil{
		background-color: $c3;
		position: relative;
		height: 60px;
		&::after, &::before{
			content:"";
			position: absolute;
			height: 100%;
			background-color: $c3;
			display: block;
			width: 100vw;
		}
		&::after{
			left: 100%;
		}
		&::before{
			right: 100%;
		}		

		figure{
			width: 84px;
			height: 84px;
			border-radius: 100%;
			overflow: hidden;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}


	.scroll-content {
		background-color: $c4;
		color: $color-blanco;
	}

	.home-list {
		margin-top: 24px;
	}

	.toolbar {
		background-color: $color-blanco;
		margin-left: -24px;
		margin-right: -24px;
		width: calc(100% + 48px);
		padding-left: 24px;
		padding-right: 24px;
	}

	.toolbar .title {
		padding-left: 24px;
	}

	.button-main {
		font-family: 'Facto';
		background: $color-guindaclaro;
		color: $color-blanco;
		border: 0px solid transparent;
		margin: 0;
		padding: 0 20px;
		height: calc(50vw - 24px);
		width: calc(50vw - 24px);
		text-align: center;
		border-radius: 0;
		border: 1px solid $color-lila;
		font-size: 1.6rem;
		line-height: 1.4rem;
	}

	.button-main.atention {
		background: $color-naranja;
	}

	.button-main ion-icon {
		font-size: 6rem;
		display: block;
		padding-right: 0;
	}
}