page-home {
	.cnt-wrapper{
		padding-top: 10px;
	}
	.h-header-inner{
		height: 74px;
		box-sizing: border-box;
	}
	.g0-content{
		background-color: $c4;
	}
	.button-main{
		width: 125px;
		height: 125px;
		border-radius: 25px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		margin-left: 6%;
		margin-bottom: 6%;
		padding: 0;
		&:active{
			background-color: #ececec;
		}
		label{
			font-size: 12px;
			color: $c2;
			line-height: 15px;
			display: block;
			width: 100%;
			padding: 0 5px;
			text-transform: uppercase;
			margin-top: 5px;
		}
		&:nth-child(3n+1){
			margin-left: 0;
		}
		&:first-child{
			margin-left: 0;
		}
	}
	.home-list{
		padding-top: 25px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

  }
  @media screen and (max-width: 480px){
    .cnt-wrapper{
      max-width: 310px;
      .button-main{
        &:nth-child(2n+1){
          margin-left: 0;
        }
        &:nth-child(3n+1){
          margin-left: 6%;
        }
        &:first-child{
          margin-left: 0;
        }

      }
    }
  }
}
