//estilos margenes y padding globals
.mt40{
  margin-top: 40px;
}

.mb20{
  margin-bottom: 20px;
}

.mb40{
  margin-bottom: 40px;
}
.mb80{
  margin-bottom: 80px;
}



.g0-text-link{
  font-family: $t2;
  font-size: 14px;
  color:$c1;
  background: none;
  text-align: center;
  width: 100%;


}



//inputs
  //labels activos
  .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color:$c2 !important;
  }
.g0-list-inputs{
  ion-item{
    margin-bottom: 25px;
  }

  ion-label.g0-label-input{
    color:$c1;
    font-size: 20px;
    font-family: $t1;
  }
  ion-select.g0-select, ion-input.g0-input input{
    background: none !important;
    height: 40px !important;
    font-size: 16px !important;
    border-bottom: 1px solid $c1 !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
  }
  .g0-text-required{
    text-align: center;
    font-size: 12px;
    font-family: $t1;
    color: $c2;
    p{
      margin-bottom: 0;
      color: $c2;
    }

  }
}

  //input check
.g0-terminos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.g0-leer{
  width: 50px;
  .button-inner{
    font-size: 15px;
    font-family: $t2;
  }
  .button{
    border-radius: 0;
  }
}
.g0-input-check{
  position: relative;
  width: 70%;
  input{
    width: 0;
    visibility: hidden;
    position: absolute;
    &:checked{
      ~ label{
        &:after{
          opacity: 1;
          color: $c3;

        }
        &:before{
          border-color: $c3;
        }
      }
    }
  }
  ion-label{
    white-space: normal !important;
  }
  label{
    white-space: normal !important;
    line-height: 100%;
    font-size: 12px;
    font-family: $t1;
    color: $c1;
    position: relative;
    padding-left: 30px;
    margin: auto 0;
    display: inline-block;
    line-height: 18px;
    &:after{
      content: "\e901";
      font-family: 'icomoon';
      position: absolute;
      top: 3px;
      left: 5px;
      font-size: 15px;
      display: block;
      z-index: 2;
      transition: all .3s;
      opacity: 0;
    }
      
    &:before{
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      border: 1px solid $c1;
      left: 0;
      top: 2px;
      transition: all .3s;
      display: block;
      z-index: 1;
    }
  }
}   

//inputs