//estilos margenes y padding globals
.mt40{
  margin-top: 40px;
}

.mb20{
  margin-bottom: 20px;
}

.mb40{
  margin-bottom: 40px;
}
.mb80{
  margin-bottom: 80px;
}

// colores
$c1:#7c7c7c;

.g0-text-link{
  font-family: 'Facto-Light';
  font-size: 14px;
  color:$c1;
  background: none;
  text-align: center;
  width: 100%;


}
