// menu principal
#menuRoot .menu-inner {
  width: 355px;
}
.h-wrapmenu-up {
  background-image: url(../assets/img/bg-menu-up.svg);
  background-size: cover;
  background-position: center center;
  margin-top: 18px;
  padding: 20px;
  padding-bottom: 10px;
}

.h-name-perfil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    margin: 0;
    margin-right: 10px;
    font-size: 24px;
    font-family: $t1;
    color: #fff;
  }
}
.h-menu-perfil {
  text-align: right;
  margin-top: 20px;
}
.h-menu-item {
  font-size: 12px;
  color: #fff;
  font-family: $t1;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  border-right: 1px solid #fff;
  &:last-child {
    border-right: none;
  }
}

.h-wraptitle-menu {
  background-color: $c2;
  .h-title-menu {
    font-size: 24px;
    font-family: $t1;
    color: #fff;
  }
}

.h-item-list {
  width: 100%;
  display: block;
  padding: 0 20px;
}
.h-menu-link {
  border-bottom: 1px solid $c10;
  box-sizing: border-box;
  display: flex;
  text-align: left;
  width: 100%;
  align-items: center;
  color: $c2 !important;
  font-size: 18px;
  font-family: $t1;
  height: 50px;
  padding: 0;
  span {
    font-size: 30px;
    margin-right: 15px;
  }
  p {
    margin: 0;
    text-align: left;
  }
}

//submenu
.h-menulink-open {
  position: relative;
}
.h-icon-submenu {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 18px !important;
  height: 18px;
  bottom: 0;
  margin: auto 0;
  color: $c2;
}
.h-submenu {
  background-color: $c11;
  padding: 10px;
  padding-left: 50px;
  display: none;
}
.h-submenu.active {
  display: block;
}

.h-subitem-list {
  width: 100%;
  padding: 0;
}
.h-submenu-link {
  display: flex;
  text-align: left;
  color: $c2;
  font-size: 16px;
  font-family: $t1;
  height: 35px;
  align-items: center;
  span {
    font-size: 30px;
    margin-right: 10px;
    &.h-number {
      font-size: 10px;
      color: #fff;
      margin-left: 5px;
      font-family: $t1;
      display: inline-block;
      vertical-align: middle;
      line-height: 16px;
      text-align: center;
      width: 16px;
      height: 16px;
      border-radius: 5px;
      background-color: $c3;
    }
  }
  p {
    margin: 0;
    text-align: left;
  }
}
// menu principal

// header interiores
.h-header-inner {
  background-color: $c2;
  .logo-img {
    max-width: 160px;
    height: auto;
  }
}

//bloque bienvenido
.hm-name {
  color: $c2;
  padding-top: 20px;
  text-align: center;
  p {
    font-family: $t1;
    margin-bottom: 0;
    font-size: 20px;
  }
  strong {
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
  }
}
.hm-image-perfil {
  background-color: $c3;
  position: relative;
  height: 50px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: $c3;
    display: block;
    width: 100vw;
  }
  &::after {
    left: 100%;
  }
  &::before {
    right: 100%;
  }

  figure {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
//bloque bienvenido
.h-header-innercontrols {
  background-color: $c2;
}
.h-controls {
  color: #fff;
  position: relative;
  .h-controls-title {
    font-size: 24px;
    font-family: $t1;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }
  .back-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .button-inner {
      display: none;
    }
  }
}
