<ion-menu [content]="content" id="menuRoot" side="right">
  <ion-header class="h-wraptitle-menu">
    <h3 class="h-title-menu">Controles de usuario</h3>
  </ion-header>
  <ion-content class="menu-default">
    <div class="h-wrapmenu-up">
      <div class="h-name-perfil">
        <p>Pablo Martin</p>
        <img src="assets/img/img-perfil.svg" width="50" height="50" alt="">
      </div>
      <div class="h-menu-perfil">
        <button class="h-menu-item" *ngFor="let p of pagesHidden" (click)="openMenu(p)">
          {{ p.titulo }}
        </button>        
      </div>
    </div>
    <ion-list class="profile-menu-list" *ngIf="flagMenu" no-lines>
      <button ion-item *ngFor="let p of pagesHidden" (click)="openMenu(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.titulo }} xxx
      </button>
    </ion-list>
    <ion-list no-lines>
      <button ion-item *ngFor="let p of pages" (click)="openMenu(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.titulo }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right" id="menuHistorialSiniestro">
  <ion-header>
    <ion-toolbar> <ion-title>Mis Siniestros</ion-title> </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row>
      <ion-col> Llamada </ion-col>
      <ion-col> Fecha Suceso </ion-col>
      <ion-col> Ubicación </ion-col>
      <ion-col> Fecha Atencion </ion-col>
    </ion-row>
    <ion-row *ngFor="let dataSin of dataSiniestros" (click)="setMapa(dataSin)">
      <ion-col> {{ dataSin.descripcion }} </ion-col>
      <ion-col>
        {{ dataSin.fechaRegistro | date: "dd/MM/yyyy H:mm:ss" }}
      </ion-col>
      <ion-col> {{ dataSin.ubicacion }} </ion-col>
      <ion-col>
        {{ dataSin.fechaAtencion | date: "dd/MM/yyyy H:mm:ss" }}
      </ion-col>
    </ion-row>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
