<ion-menu [content]="content" id="menuRoot" side="right">
  <ion-header class="h-wraptitle-menu">
    <h3 class="h-title-menu">Controles de usuario</h3>
  </ion-header>
  <ion-content class="menu-default h-menu-main">
    <div class="h-wrapmenu-up">
      <div class="h-name-perfil">
        <p>Pablo Martin</p>
        <img src="assets/img/img-perfil.svg" width="50" height="50" alt="">
      </div>
      <div class="h-menu-perfil">
        <button class="h-menu-item" *ngFor="let p of pagesHidden" (click)="openMenu(p)">
          {{ p.titulo }}
        </button>
      </div>
    </div>

    <ion-list no-lines>

      <button class="h-item-list">
        <div class="h-menu-link h-menulink-open">
          <span class="nico-nav-2"></span>
          <span class="h-icon-submenu nico-arrow-down1"></span>
          <p>
              menu acordeon

          </p>
        </div>
        <div class="h-submenu">
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-1"></span>
              <p>
                 Vehículos <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-2"></span>
              <p>
                SOAT <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-3"></span>
              <p>
                Domiciliario <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-4"></span>
              <p>
                Asistencia Médica <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-5"></span>
              <p>
                Accidentes Personales <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-6"></span>
              <p>
                Vida <span class="h-number">10</span>
              </p>
            </div>
          </button>
          <button class="h-subitem-list">
            <div class="h-submenu-link">
              <span class="nico-seguro-7"></span>
              <p>
                Otros <span class="h-number">10</span>
              </p>
            </div>
          </button>
        </div>
      </button>
      <button class="h-item-list" *ngFor="let p of pages" (click)="openMenu(p)">
        <div class="h-menu-link">
          <span class="{{p.icon}}"></span>
          <p>
              {{ p.titulo }}
          </p>
        </div>
      </button>


    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right" id="menuHistorialSiniestro">
  <ion-header>
    <ion-toolbar> <ion-title>Mis Siniestros</ion-title> </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row>
      <ion-col> Llamada </ion-col>
      <ion-col> Fecha Suceso </ion-col>
      <ion-col> Ubicación </ion-col>
      <ion-col> Fecha Atencion </ion-col>
    </ion-row>
    <ion-row *ngFor="let dataSin of dataSiniestros" (click)="setMapa(dataSin)">
      <ion-col> {{ dataSin.descripcion }} </ion-col>
      <ion-col>
        {{ dataSin.fechaRegistro | date: "dd/MM/yyyy H:mm:ss" }}
      </ion-col>
      <ion-col> {{ dataSin.ubicacion }} </ion-col>
      <ion-col>
        {{ dataSin.fechaAtencion | date: "dd/MM/yyyy H:mm:ss" }}
      </ion-col>
    </ion-row>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
