en-llamada{
	.g1-call{
		position: absolute;
		bottom: -45px;
		height: 45px;
		width: 100%;
		left: 0px;
		font-size: 24px;
		color: $c9;
		font-family: $t1;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $c1; 
		i{
			margin-right: 24px;
		}
	}
	.g1-text-info{
		color: $c2;
		font-family: $t1;
		font-size: 22px;
		margin-top: 40px;	
	}
	.g1-content{
		padding-top: 50px;
	}
	.g1-wraps-items{
		padding-top: 56px;
		.list{
			margin-bottom: 0px;	
		}
	}
	.g1-update-list{
		color: $c9;
		font-family:$t1;
		font-size: 20px;
		background-color: $c3;
		position: absolute;
		left: 0px;
		width: 100%;
		height: 70px;
	}
	.g1-item-contact{
		margin-bottom: 28px;
		&:last-child{
			.g1-info{
				&:after{
					display: none;
				}				
			}
		}
		.item-inner{
			border-bottom:0px !important;
		}
		&:last-child{
			margin-bottom: 0;
			.g1-info{
				border-bottom: 0px;
			}
		}
		.label{
			display: flex;
			margin-top: 0;
			margin-bottom: 0px;
			i{
				font-size: 34px;
				margin-top: 4px;
			}
		}
		.g1-edit-action{
			background-color: rgba(0, 0, 0, 0);
			padding: 0px;
			font-size: 10px;
			opacity: 0;
			visibility: hidden;
			i{
				font-size: 18px;
				color: #5A2D6B;
				font-weight:bold;
			}
		}
	}
	.g1-info{
		color:$c2;
		font-size: 22px;
		font-family: $t1;
		// border-bottom: 1px solid $c1;
		// margin-left: 37px;
		padding-left: 38px;
		box-sizing: border-box;
		padding-bottom: 18px;
		position: relative;
		white-space: normal;
		width: calc(100% - 38px);
		&:after{
			content: "";
			width: calc(100% - 38px);
			height: 1px;
			right: 0px;
			position: absolute;
			bottom: 0px;
			background-color: $c1;

		}
		.g1-item-info{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		span{
			display: block;
			color: $c1;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.g1-text{
			color:$c2;
			font-size: 22px;
			line-height: 1;
			text-decoration: none;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&.g1-edit{
				.g1-edit-action{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

}