<!--
  Generated template for the ContactoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="h-header-innercontrols">
  <div class="h-controls">
    <ion-navbar>
      <h3 class="h-controls-title"><span class="nico-arrow-back"></span>Reporte de Siniestro</h3>
    </ion-navbar>      
  </div>  
</ion-header>
<ion-content padding class="g1-wrap-nav">
  <div class="g1-navbar">
    <ul class="g1-nav">
      <li [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
          <button class="g1-click-tab"><i class="nico-seguro-1"></i><span>Vehículos</span></button>
      </li>
      <li [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">
          <button class="g1-click-tab" >
          <i class="nico-seguro-2"></i><span>soat</span></button>
      </li>
      <li [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">
          <button class="g1-click-tab" >
        <i class="nico-casa"></i><span>hogar</span></button>
      </li>
    
      <!-- solo se habilitado tres tabs - para el resto agregue contenido  -->
      <li [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">
          <button class="g1-click-tab">
        <i class="nico-seguro-4"></i><span>salud</span></button>
      </li>
      <li [class.active]="viewMode == 'tab5'" rel="tab5" (click)="viewMode ='tab5'">
          <button class="g1-click-tab">
        <i class="nico-seguro-5"></i><span>accidentes </span></button>
      </li>
      <li [class.active]="viewMode == 'tab6'" rel="tab6" (click)="viewMode ='tab6'">
          <button class="g1-click-tab" >
        <i class="nico-seguro-6"></i><span>vida</span></button>
      </li>
     <!--  <li [class.active]="viewMode == 'tab7'" rel="tab7" (click)="viewMode ='tab7'">
          <button class="g1-click-tab">
        <i class="nico-seguro-7"></i><span>otros</span></button>
      </li> -->
    </ul>
  </div>

  <!-- detalle de seguro solo activo en tab 1 - replicar cuando programen  -->
  <div class="g1-content-items" [ngSwitch]="viewMode">
    <div class="g1-content-tab active" id="tab1" *ngSwitchCase="'tab1'">
      <ul class="g1-content-list" *ngFor="let itemComp of companias">
        <li class="g1-item g1-pending" *ngFor="let itemPol of itemComp.polizas" (click)="openDatelle(itemPol)">
          <figure>
            <img src="assets/img/empresa.jpg">
          </figure>
          <div class="g1-item-content">
            <h4>Placa: AHJ156 Tab 1</h4>
            <p>Toyota Corolla</p>
            <p>Año: 2017</p>
            <p>Póliza: 102001421</p>
            <div class="g1-notification">Sin pagos pendientes</div>
            <div class="g1-notification g1-pending-notification">Pagos Pendientes</div>
          </div>
          <a href="" (click)="openData(itemComp)" class="g1-close-item"><i class="nico-zoom"></i></a>
        </li>


    </ul>

  </div>
  <!-- detalle de seguro solo activo en tab 1 - replicar cuando programen  -->

  <div class="g1-content-tab active" id="tab2" *ngSwitchCase="'tab2'">
    <ul class="g1-content-list">
     <li class="g1-item">
      <figure>
        <img src="assets/img/empresa.jpg">
      </figure>
      <div class="g1-item-content">
        <h4>Placa: AHJ15 Tab 2</h4>
        <p>Toyota Corolla</p>
        <p>Año: 2017</p>
        <p>Póliza: 102001421</p>
        <div class="g1-notification">Sin pagos pendientes</div>
        <div class="g1-notification g1-pending-notification">Pagos Pendientesss </div>
      </div>
      <a href="" class="g1-close-item"><i class="nico-nav-6"></i></a>
    </li>
    <li class="g1-item g1-pending">
      <figure>
        <img src="assets/img/empresa.jpg">
      </figure>
      <div class="g1-item-content">
        <h4>Placa: AHJ156</h4>
        <p>Toyota Corolla</p>
        <p>Año: 2017</p>
        <p>Póliza: 102001421</p>
        <div class="g1-notification">Sin pagos pendientes</div>
        <div class="g1-notification g1-pending-notification">Pagos Pendientes </div>
      </div>
      <a href="" class="g1-close-item"><i class="nico-nav-6"></i></a>
    </li>
  </ul>

</div>

<div class="g1-content-tab active" id="tab3" *ngSwitchCase="'tab3'">
  <ul class="g1-content-list">
   <li class="g1-item">
    <figure>
      <img src="assets/img/empresa.jpg">
    </figure>
    <div class="g1-item-content">
      <h4>Placa: AHJ156 Tab 3</h4>
      <p>Toyota Corolla</p>
      <p>Año: 2017</p>
      <p>Póliza: 102001421</p>
      <div class="g1-notification">Sin pagos pendientes</div>
      <div class="g1-notification g1-pending-notification">Pagos Pendientesss </div>
    </div>
    <a href="" class="g1-close-item"><i class="nico-nav-6"></i></a>
  </li>
  <li class="g1-item g1-pending">
    <figure>
      <img src="assets/img/empresa.jpg">
    </figure>
    <div class="g1-item-content">
      <h4>Placa: AHJ156</h4>
      <p>Toyota Corolla</p>
      <p>Año: 2017</p>
      <p>Póliza: 102001421</p>
      <div class="g1-notification">Sin pagos pendientes</div>
      <div class="g1-notification g1-pending-notification">Pagos Pendientes </div>
    </div>
    <a href="" class="g1-close-item"><i class="nico-nav-6"></i></a>
  </li>
</ul>

</div>

</div>

<!-- esto no se utliza por el momento -->
<!-- <ion-navbar>
  <ion-title>{{titulo}}</ion-title>
  <ion-buttons end>
    <a ion-button>
      <ion-icon name="md-time"></ion-icon>Pendientes</a>
    </ion-buttons>
  </ion-navbar> -->
  <ion-list class="services-list" full>
    <ion-row *ngFor="let itemComp of companias">
      <ion-list class="company-list" no-lines full>
        <ion-list-header class="company-header">
          <button ion-button (click)="openData(itemComp)">
            <ion-icon name="md-add"></ion-icon>
            <img class="companyLogo" [src]="itemComp.url" />
          </button>
        </ion-list-header>
        <ng-container *ngIf="itemComp.displayIt">
            <!--<ion-list *ngFor="let itemRies of itemComp.riesgos" full
              no-lines>-->
              <div class="service-wrapper" *ngFor="let itemPol of itemComp.polizas" (click)="openDatelle(itemPol)">
                <ion-row class="head-info">
                  <ion-col>
                    <ion-list-header text-wrap>{{itemPol.nomRiesgo}}xxxx</ion-list-header>
                    #{{itemPol.numPoliza}}
                  </ion-col>
                  <ion-col end>
                    <ion-label stacked>Vigencia</ion-label>
                    <p>del {{itemPol.fecInicio | date: 'dd/MM/yyyy'}}</p>
                    <p>al {{itemPol.fecFin | date: 'dd/MM/yyyy'}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col relative>
                    <ion-item class="status">
                      <ion-icon name='md-checkmark-circle-outline'></ion-icon>{{itemPol.estado}}</ion-item>
                    </ion-col>
                    <!-- pinkxel: Se sugiere evaluar la necesidad del 'Actualizado al', en un sistema se debería poder asumir que la info siempre está actualizada al momento de la consulta. -->
                    <!-- <ion-item>Actualizado al: {{itemPol.actualizado | date: 'dd/MM/yyyy'}}</ion-item>-->
                    <ion-col end>
                      <!-- pinkxel: Función cambió de 'openPagar' a 'openMore' Se agregó $event para detener el evento click del padre -->
                      <ng-container *ngIf="itemPol.clienteDirecto">
                        <button class="button-more" ion-button ion-stop-event="click" (click)="openMore(itemPol, $event)">Ver más
                          <ion-icon name='ios-arrow-down'></ion-icon>
                        </button>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ng-container *ngIf="itemPol.displayPAyment">
                      <div class="infograph">
                        <!-- pinkxel: Los años a la izquierda y derecha de la línea de tiempo se rellenan a traves de :before y :after en el CSS de '.timeline' -->
                        <div class="timeline"></div>
                        <ion-row>
                          <ion-col class="period">May</ion-col>
                          <ion-col class="period">Jun</ion-col>
                          <ion-col class="period alert">Jul</ion-col>
                        </ion-row>
                      </div>
                    </ng-container>
                  </ion-row>
                  <ion-row>
                    <ng-container *ngIf="itemPol.displayCuotas">
                      <ion-row class="row-coutas">
                        <div></div>
                      </ion-row>
                    </ng-container>
                  </ion-row>
                </div>
                <!-- </ion-list>-->
              </ng-container>
            </ion-list>
          </ion-row>
        </ion-list>
        <!-- esto no se utliza por el momento -->

      </ion-content>
<ion-footer class="f-footer">
    <div class="footer-inner">
      <button class="f-item">
        <img src="assets/img/icobar-1.svg" width="30" height="30" alt="">
        <label>INICIO</label>      
      </button>
      <button class="f-item">
        <img src="assets/img/icobar-2.svg" width="30" height="30" alt="">
        <label>PERFIL</label>      
      </button>
      <button menuToggle class="f-item">
        <img src="assets/img/icobar-3.svg" width="30" height="30" alt="">
        <label>MENÚ</label>      
      </button>
    </div>
</ion-footer>